@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
/* General */
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #121212;
}

h1 {
  font-size: 40px;
  color: #ffffff;
}

h2 {
  font-size: 30px;
  color: #ffffff;
}

h3 {
  color: #ffffff;
}

.border-right {
  border-right: solid 1px white;
  padding-right: 10px;
}

p {
  font-size: 10px;
  color: #ffffff;
}

table {
  color: #ffffff;
}

/* header */

.navbar {
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: #191919;
  padding: 10px 30px;
  align-items: center;
}

.logo {
  color: #ffffff;
}

.links {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row-reverse;
  gap: 15px;
}

.links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}
.links a:hover {
  color: #1db954;
  transform: scale(1.1);
}

.logo img {
  height: 40px;
}

/* promo */
.promo-header {
  max-width: 75%;
}

.promo {
  background: linear-gradient(to bottom, #ffd2d7, #121212);
  color: #ffffff;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.promo-content {
  padding: 48px 20px;
  max-width: 55%;
}

.conditions {
  color: #ffffff;
}
.photo {
  margin: 40px 16px;
}
.photo img {
  height: 200px;
}

.buttons {
  display: flex;
  gap: 30px;
  padding: 10px;
}

.free {
  background-color: rgb(255, 210, 215);
  color: #121212;
  padding: 16px 32px;
  font-weight: bold;
  border: 0px;
  border-radius: 30px;
  cursor: pointer;
  flex-grow: 1;
}

.plans {
  background-color: #121212;
  color: #ffffff;
  padding: 16px 32px;
  font-weight: bold;
  border: 1px solid #ffffff;
  border-radius: 30px;
  cursor: pointer;
  flex-grow: 1;
}

.free:hover {
  transform: scale(1.1);
}

.plans:hover {
  transform: scale(1.1);
}
/* Tabla */

.title {
  color: #ffffff;
  text-align: center;
}

.title h2 {
  padding: 0px 90px;
}

.benefit {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
table {
  max-width: 800px;
  width: 70%;
  color: #ffffff;
  padding: 80px 80px;
  border-collapse: collapse;
  text-align: center;
  border-spacing: 0px;
}

th img {
  width: 20px;
  height: auto;
  padding: 0px 5px;
}
td img {
  width: 30px;
  height: 30px;
  padding: 0px 80px;
}
thead th {
  padding: 15px;
  text-align: left;
}

tbody td {
  text-align: left;
  padding: 15px;
  text-decoration: dashed;
}

tbody tr {
  border-top: 1px solid #ffffff;
}

/* Resumen */

.secondtitle {
  color: #ffffff;
  text-align: center;
}

.secondtitle p {
  padding: 0px 90px;
  font-size: 20px;
}

.pay {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pay img {
  width: 50px;
  height: auto;
}

.resumen {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 40px 40px;
}

.resumen h2 {
  padding: 20px 20px;
  max-width: 50%;
  text-align: center;
}

.checklist {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  color: #ffffff;
}

ul.checklist {
  max-width: 500px;
  padding: 5px;
  list-style: none;
}
ul.checklist li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
}

ul.checklist li::before {
  content: "✓";
  position: absolute;
  color: #ffffff;
  left: 0;
}
/*box pink*/

.box-individual {
  margin: 20px;
  color: #ffffff;
  background-color: #191919;
  border-radius: 10px;
  width: 400px;
  padding: 0px 20px 20px 20px;
}

.top-pink {
  margin: 0;
  background-color: #ffd2d7;
  color: #121212;
  font-weight: bold;
  text-align: center;
  border-radius: 6px 0px;
  position: absolute;
  padding: 0px 10px 10px 10px;
}
.top-spotify {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  padding: 60px 10px 10px 10px;
}

.top-spotify h2 {
  font-size: medium;
  margin: 0;
}

.box-individual h1 {
  color: #ffd2d7;
  font-weight: bold;
  margin: 0;
  padding: 10px;
}

.box-individual img {
  width: 30px;
  height: auto;
}

.box-individual p {
  margin: 5px;
  font-size: medium;
}

.pink {
  color: #121212;
  background-color: #ffd2d7;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  margin: 20px 0px;
  cursor: pointer;
  font-weight: bold;
}

.pink:hover {
  transform: scale(1.1);
}

.box-individual p {
  color: #ffffff;
  font-weight: normal;
  text-align: left;
  padding-bottom: 0;
}

.final p {
  text-align: center;
  width: 100%;
  font-size: small;
}

.final a {
  color: #ffffff;
}

/* box purple*/

.box-students {
  margin: 20px;
  color: #ffffff;
  background-color: #191919;
  border-radius: 10px;
  width: 400px;
  padding: 0px 20px 20px 20px;
}

.top-purple {
  margin: 0;
  background-color: #c4b1d4;
  color: #121212;
  font-weight: bold;
  text-align: center;
  border-radius: 6px 0px;
  position: absolute;
  padding: 0px 10px 10px 10px;
}

.top-spotify {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  padding: 60px 10px 10px 10px;
}

.top-spotify h2 {
  font-size: medium;
  margin: 0;
}

.box-students h1 {
  color: #c4b1d4;
  font-weight: bold;
  margin: 0;
  padding: 10px;
}

.box-students img {
  width: 30px;
  height: auto;
}

.box-students p {
  margin: 5px;
  font-size: medium;
}

.purple {
  color: #121212;
  background-color: #c4b1d4;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  margin: 20px 0px;
  cursor: pointer;
  font-weight: bold;
}

.purple:hover {
  transform: scale(1.1);
}

.box-students p {
  color: #ffffff;
  font-weight: normal;
  text-align: left;
  padding-bottom: 0;
}

.final p {
  text-align: center;
  width: 100%;
  font-size: small;
}

.final a {
  color: #ffffff;
}

/* box Duo*/

.box-duo {
  margin: 20px;
  color: #ffffff;
  background-color: #191919;
  border-radius: 10px;
  width: 400px;
  height: 400px;
  padding: 0px 20px 20px 20px;
}

.top-spotify {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  padding: 60px 10px 10px 10px;
}

.top-spotify h2 {
  font-size: medium;
  margin: 0;
}

.box-duo h1 {
  color: #ffc862;
  font-weight: bold;
  margin: 0;
  padding: 10px;
}

.box-duo img {
  width: 30px;
  height: auto;
}

.box-duo p {
  margin: 5px;
  font-size: medium;
}

.orange {
  color: #121212;
  background-color: #ffc862;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  margin: 20px 0px;
  cursor: pointer;
  font-weight: bold;
}

.orange:hover {
  transform: scale(1.1);
}

.box-duo p {
  color: #ffffff;
  font-weight: normal;
  text-align: left;
  padding-bottom: 0;
}

.final p {
  text-align: center;
  width: 100%;
  font-size: small;
}

.final a {
  color: #ffffff;
}

/* box family*/

.box-family {
  margin: 20px;
  color: #ffffff;
  background-color: #191919;
  border-radius: 10px;
  width: 400px;
  height: 450px;
  padding: 0px 20px 20px 20px;
}

.top-spotify {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  padding: 60px 10px 10px 10px;
}

.top-spotify h2 {
  font-size: medium;
  margin: 0;
}

.box-family h1 {
  color: #a5bbd1;
  font-weight: bold;
  margin: 0;
  padding: 10px;
}

.box-family img {
  width: 30px;
  height: auto;
}

.box-family p {
  margin: 5px;
  font-size: medium;
}

.blue {
  color: #121212;
  background-color: #a5bbd1;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  margin: 20px 0px;
  cursor: pointer;
  font-weight: bold;
}

.blue:hover {
  transform: scale(1.1);
}

.box-family p {
  color: #ffffff;
  font-weight: normal;
  text-align: left;
  padding-bottom: 0;
}

.final p {
  text-align: center;
  width: 100%;
  font-size: small;
}

.final a {
  color: #ffffff;
}

.promotions-discounts {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
}

/* Preguntas */

.questions {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 0px;
}

.questions p {
  font-size: 20px;
  margin: 0px;
  padding: 3px;
}
.questions a {
  color: #ffffff;
}

.questions-answers {
  background-color: #191919;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 80px;
  margin: 30px 0px;
}

.questions-answers a {
  color: #ffffff;
}

details {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 2Opx 20px;
  font-size: large;
  margin: 10px;
}

summary:hover {
  text-decoration: underline;
  transform: scale(1.1);
}

.questions-answers p {
  font-size: medium;
}

/* footer */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.column-footer img {
  width: 100px;
  height: auto;
}

.column-footer {
  flex: 1;
  margin: 20px;
  min-width: 150px;
}

.column-footer h3 {
  font-size: 16px;
  margin-bottom: 15px;
}

.column-footer ul {
  list-style: none;
  padding: 0;
}

.column-footer ul li {
  margin-bottom: 10px;
}

.column-footer ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-size: 14px;
}

.column-footer ul li a:hover {
  text-decoration: underline;
  color: #1db954;
}

.icons {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.icons img {
  width: 30px;
  height: 30px;
}

.footer-bottom a {
  text-decoration: none;
  margin: 10px;
  color: #b3b3b3;
}

.footer-bottom a:hover {
  transform: scale(1, 1);
}
